.Loginlayout {
    background-color: $col22; 
    // height: calc(100vh - 146px); 
    text-align: center; 
    overflow: hidden;

    .layout_box {
        width: 100%; 
        max-width: 542px;
        background-color: $col18;
        margin: auto; 
        box-shadow: 0px 0px 15px rgba(62, 178, 221, 0.1);
        border-top: solid 10px $col23;
        padding: 60px;  
    }
}