@import 'fonts.scss';
@import 'color.scss';

.mj_nav { 
    span.comings { 
        position: relative; 
        font-size: 13px;
        color: gray; 
        font-weight: 400; 
    }
    .navbar-light {
        .navbar-brand {
            font-size: $fs23;
            font-weight: 600;
            color: $col8; 
        }
        .navbar-nav {
            .userprofiles {
                .profile_icon.profiletwo {
                    .dropdown-menu  {
                        .dropdown-item {
                            text-transform: uppercase; 
                            & > img {
                                width: 16px;
                                // position: relative;
                                // left: -7px;
                                // top: -1px;
                                // margin-right: 0px !important;
                            }
                            &:nth-child(2) {
                                position: relative;
                                & > span {
                                    padding-left: 8px;
                                } 
                            }
                            &:nth-child(3) {
                                position: relative;
                                span {
                                    padding-left: 14px; 
                                }
                            }
                            
                            span {
                                padding-left: 10px;
                            }
                            
                        }
                    }
                }
            }
            .loginnav  {
                .dropdown-menu {
                    left: -100px; 
                }
            }
            a.nav-link { 
                padding-right: $fs14;
                color: $col3;
                font-weight: 500; 
                font-size: $fs14;
                &:hover {
                    color: $col1; 
                }
            } 

            .userprofiles {    
                display: none !important; 
                &.menus { 
                    display: flex !important;

                    .profile_icon {
                        & > a.nav-link {
                            background-image: url(../images/user_chat3.svg);
                            border-radius: 50%; 
                            background-size: cover;
                            width: 36px; 
                            height: 36px;   
                            background-repeat: no-repeat;
                            position: relative;
                            top: 5px;

                            &::after {
                                margin-left: 25px; 
                                color: $col23; 
                                border-top: .5em solid;
                                border-right: .5em solid transparent;
                                border-left: .5em solid transparent;
                            }
                        }
                    }
                    .profiletwo {

                        .dropdown-menu {
                            left: -130px;
                            background: $col80;  
                            width: 192px; 
                            top: 42px; 
                            padding: 0 0;
                            text-align: left;
                            overflow: hidden;    

                            a.dropdown-item {
                                
                            }
                        }
                    }
                }
                a.nav-link {
                    img {
                        max-width: 25px; 
                    }
                } 
                .dropdown {
                    position: relative; 
                    .dropdown-menu {
                        left: -90px; 
                    }
                }
            }

            .form-inline {
                span {
                    padding-right: 20px;   
                    cursor: pointer;
                    img {
                        max-width: 25px; 
                    }
                }
            }
            
            .dropdown-menu { 
                padding: 0 15px;
                border-radius: 10px;
                background-color: $col18;
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
                border-color: $col18;
                text-align: center;       
                a {
                    color: $col1; 
                    font-size: 14px;
                    font-weight: 400; 
                    border-bottom: 0.7px solid $col15;
                    padding: 10px 20px;
                    background-color: transparent;
                    transition: 0.3s; 

                    &:last-child {
                        border-bottom: none; 
                    }
                    &:hover {
                        background-color: $col15;
                    } 
                }
            }
        }
    }

    .dropdown.droptwo {
        .profilesbtn { 
            background: transparent; 
            padding: 0;
            border: none;
            outline: 0 !important;
            box-shadow: none !important;

            &:hover, &:focus {
                background: transparent; 
                padding: 0;
                border: none;
                outline: 0 !important;
                box-shadow: none !important;
            } 
        }

        .dropdown-menu {
            width: 500px;
            left: -450px !important; 
            top: 55px; 
        }
    }
}

.header-fixed {  
    z-index: 9999;
    position: relative; 
}

.email_verified { 
    position: relative;
    text-align: center;

    .verifys { 
        position: absolute;  
        background-color: $col26; 
        background-image: url(../images/mask_layer.png); 
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        max-width: 330px;
        width: 100%;
        margin: auto;
        top: -54px;
        left: 50%;
        transform: translate(-52%, 50%); 
        display: flex; 
        height: 50px;
        align-items: center;
        padding: 12px;
        z-index: 9;
        text-align: left; 

        & > img {
            max-width: 40px; 
            margin-right: 5px;     
        }
    }
}

.socials { 
    padding-left: 15px;  
    
    form {
        span {
            margin-left: 15px;
            img {
                max-width: 26px; 
            }
        }
    }
}

@media (min-width: 768px) {

    .dropdown.droptwo {
        .dropdown-menu {
            
        }
    }

}

@media (max-width: 1250px) {  
.mj_nav {
    .navbar-light {
        .navbar-nav {
            a.nav-link {
                padding-right: 8px;
                font-size: 13px;
                padding: 10px 12px;
            } 

            .form-inline {
                span {
                    padding-right: 10px;    
                }
            }
            
        }
    }
} 

} 

@media (min-width: 768px) and (max-width: 1190px) {   
    .mj_nav {
        .navbar-light {
            .navbar-nav {
                a.nav-link {
                    padding-right: 8px;
                    color: $col3;
                    font-weight: 500;
                    font-size: 12px;
                    padding: 10px 12px;
    
                    &:hover {
                        color: $col3; 
                    }
                } 
    
                .form-inline {
                    span {
                        padding-right: 10px;   
                    }
                }
                
            }
        }
    }
    
    }
    

@media (min-width: 1280px) { 
    .mj_nav {
        .navbar-light {
            .navbar-nav {
                a.nav-link {
                    padding-right: $fs16;
                    color: $col3;
                    font-weight: 500; 
                    padding: 10px 13px;
                    font-size: $fs14;
                    &:hover {
                        color: $col1; 
                    }
                } 
    
                .form-inline {
                    span {
                        padding-right: 18px;   
                    }
                }
                
            }
        }
    }
}

@media (min-width: 1350px) {  
    .mj_nav {
        .navbar-light {
            .navbar-nav {
                a.nav-link {
                    padding: 10px 18px;
                    font-size: $fs14;
                    &:hover {
                        color: $col3; 
                    }
                } 
    
            }
        }
    }
}