.profile_layout {
    background-color: $col22; 
    min-height: calc(100vh - 146px); 

    .myprofile {
        background: $col18;
        border-top: solid 10px $col23;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
        position: relative; 
        .layout {
            .border2 {
                border-bottom: solid 1px #D3F5FF;
                padding-bottom: 20px;
                margin-bottom: 20px !important;
            }  
            .w35 {
                max-width: 35%; 
            }
            .w60 {
                width: 60%;
            }
            .w40 {
                width: 40%; 
            }
            &:last-child {
                .border2 {
                    border-bottom: none; 
                }
            }
        }

        .upload_bg { 
            // position: relative; 

            input[type="file"] {  
                position: absolute;
                width: 36px;
                height: 40px;
                top: 17px;
                right: 17px;
                cursor: pointer;
                opacity: 0;
                z-index: 99; 
            }

            .camera2 {
                position: absolute;
                right: 17px;
                top: 17px;            
            }
        }

        .upload_pic { 
            // position: relative; 

            input[type="file"] { 
                position: absolute;
                width: 36px;
                height: 40px;
                left: 53%;
                bottom: -15px;
                cursor: pointer;
                opacity: 0; 
                z-index: 99;
            }

            .camera {
                position: absolute;
                left: 53.6%;
                bottom: 1px;
            }
        }
        
        .border_bottoms {
            border-bottom: 0.5px solid $col50; 
            width: 100%;
            max-width: 250px;
            text-align: center;
            margin: auto;
        }
        .profile_top {
            margin-top: -60px;
            position: relative;
            .border_profile {
                border: solid 3px $col18; 
            }
            .flags {
                position: absolute;
                top: 85%; 
                left: 49%;
            }
            .btn_set {
                position: absolute;
                top: 77px;
                right: 20px; 
            }

            &.melisa {
                margin-top: 105px; 
            }
        }

       
        .user_tab {
            padding-bottom: 3rem; 
            
            .nav-tabs {
                justify-content: center;
                border-bottom: none;
                a {
                    height: 2.5rem;
                    border: solid 1px $col40;        
                    border-radius: 40px;
                    width: 165px; 
                    color: $col1;
                    font-size: $fs15;
                    font-weight: 500; 
                    padding: 0.5rem 0; 
                    transition: 0.5s all; 
                    margin-right: 1rem; 
                    &.active {
                        background: $col40; 
                        color: $col18; 
                    }
                    &:hover {
                        background: $col40;
                        border: solid 1px $col40;
                        color: $col18; 
                    }
                }
            }

            .mx-wcustom { 
                max-width: 670px; 
            }
            .mx-wcustomtwo { 
                max-width: 900px;  
                margin-top: 3rem !important; 
            }
        }

        .profile-video {
            text-align: left;
            position: relative; 

            img.video_icon { 
                position: absolute;
                left: 40%;
                top: 20%;
                cursor: pointer;
            }
        }
        
    }
}