.myprofile.reviewrequest {
    border-top: none; 
    padding-top: 30px; 
    position: relative; 
    min-height: 100vh; 

    .requests {
        padding: 0 30px;
    }
    .border-grays {    
        border-bottom: 0.5px solid $col50; 
        &:last-child {
            // border-bottom: none;  
        }

        .pl-2 {
            width: 100%; 
        }
    }

    .user_tab {
        .nav-tabs {
            a {
                &.nav-link { 
                    border: solid 1px $col1; 
                    transition: 0.5s all;
                    text-transform: uppercase;     
                    &:hover {
                        background: $col40; 
                        border: solid 1px $col40; 
                    }
                }
                &.active {
                    border: solid 1px $col40; 
                }
            }
        }
    }
}

.reviewcomment {

    .border-grays {
        border-bottom: solid 1px $col50; 
    }
}

.compaigns { 
    .today_goals {
        display: inline-flex;
        flex-wrap: wrap;
        background: rgba(88, 146, 52, 0.1);
        border: 0.5px solid $col83;
        box-sizing: border-box;
        border-radius: 0px 20px 20px 0px;
        padding: 12px 20px; 
        align-items: center; 

        .compaign_para {
            max-width: 80%; 
        }
    }
    .compaign_para  {
        max-width: 80%;
    }
    .keep_kindness {
        display: flex;
        flex-wrap: wrap;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
        height: 75px;
        border-radius: 5px;
        align-items: center;
        padding-left: 15px;   
        max-width: 58%;  

        .donate_data {
            background-image: url('../images/buttons.png'); 
            background-size: cover;
            width: 100%;
            height: 75px;
            position: relative;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $col18;  
            font-size: 18px; 
            font-weight: 500;
            padding-left: 56px;
            cursor: pointer;
        }
    }
    .donate_btn  {
        max-width: 58%; 
        padding-bottom: 160px; 
        
        .btnTyp4 {
            padding: 0px 1.5rem; 
        }
    }
    .right_donate {
        position: absolute;
        right: 0;
        bottom: 0;
        img {
            max-width: 380px; 
        }
    }
    .donate_ul {
        position: relative; 
        
        .overlays_bottom {
            background-image: url('../images/left_bottom.png');  
            background-size: cover;
            height: 170px;
            width: 164px;
            position: absolute;
            left: -32px;
            top: -22px;
            z-index: 0;
        }

        ul {
            width: 100%;
            margin: 0;
            padding: 0;
            position: relative;
            left: 0;
            top: 0px; 

            li {
                font-family: Poppins;
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 21px;
                color: $col14;
                list-style: none;
                margin-bottom: 7px;

                &.first { 
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 27px;
                    display: flex;
                    align-items: center;
                    color: $col1; 
                }
            }
        }
    }
}

.donatedatas {

    .myprofile {
        position: relative;
        padding: 30px; 
    }
    
    .participates {
        background-image: url('../images/participate_btn.svg'); 
        height: 65px;
        max-width: 800px;
        margin: auto;
        background-size: cover;
        display: flex;
        align-items: center; 
        justify-content: center; 
        font-size: $fs28;
        color: $col18;
        font-weight: 400;
        padding: 0 3.5rem;
        cursor: pointer; 
    }
    .faqs {
        background-color: $col44; 
        padding: 10px 0 20px;   
        .pl-30 {
            padding-left: 30px; 
        }
        .questions { 
            background-color: $col84; 
            height: 35px;
            display: flex;
            align-items: center;
            padding-left: 30px;
            color: $col29; 
            font-weight: 300;
            font-size: 18px; 
        }
        .answers {
            height: 35px;
            display: flex;
            align-items: center;
            padding-left: 30px;
            font-size: 15px;
            color: $col14;
            font-weight: 300; 
        }
    }
}

.foundation {   
    background-color: #f3fdff;     
    min-height: calc(100vh - 146px);

    .myprofile {
        background-image: url('../images/foundations.svg');
        background-size: cover;
        width: 100%; 
        
        .foundtwo {
            background-image: url('../images/fondsape.svg'); 
            background-size: 70%; 
            background-repeat: no-repeat;
            width: 100%;
            display: flex; 
            align-items: center;
            justify-content: start; 
            height: 700px;

            .inner_found { 
                position: relative;
                max-width: 45%; 
                padding-left: 7%;  

                .form-group {
                    margin-left: 0; 
                }
                
                .firstbtn {
                    background: rgba(255, 255, 255, 0);
                    border: solid 1px rgba(255, 255, 255, 0.5);           
                    height: 50px;
                    line-height: 50px;
                    position: relative;
                    min-width: 220px; 
                    margin-right: 20px;
                    border-radius: 4px;   
                    &.active { 
                        background: rgba(255, 255, 255, 0.5);  
                    }

                    label {
                        text-transform: capitalize; 
                        color: $col18; 
                    }

                    .form-check { 
                        
                        input {
                            position: absolute;
                            right: 10px;
                            top: 11px; 
                            width: 18px;
                            height: 18px;
                        }
                    }
                }

                .input_price {
                    max-width: 400px; 
                    margin-top: 30px;
                    .d-flex {
                        position: relative;

                        input {
                            height: 50px;
                            border-radius: 10px 0px 0px 10px;
                            padding-left: 40px; 
                        }

                        button {
                            min-width: 100px;
                            height: 50px;
                            border-radius: 0px 10px 10px 0px; 
                            text-transform: uppercase;
                            font-size: 16px;
                            background: $col26;
                            border: solid 1px $col26; 
                        }
                    }

                    span.dollors {
                        position: absolute;
                        top: 6px;
                        left: 14px;
                        color: #666;
                        height: 36px;
                        line-height: 36px; 
                        font-size: 20px;
                        display: inline-block;
                        width: 22px;
                        border-right: solid 1px #333;
                    }
                }
                
            }
        }

    }

    .educations {
        padding-bottom: 150px;

        .iframe_video {
            padding-top: 30px;
            max-width: 85%;
        }
    }
    .foundthree { 
        background-image: url('../images/fondsapetwo.svg'); 
        background-size: 92.6%; 
        background-repeat: no-repeat;
        width: 100%;
        height: 300px; 
        padding: 30px 20px 20px;

        .inner_second {  
            max-width: 83%; 
            margin-top: 30px;  
        }
    }
    
}

.table_paymentlayout { 
    position: relative;
    table {
        tr th {
            border: solid 1px $col85;
            border-collapse: collapse;
            background-color: $col10;  
            font-weight: 500;
            color: $col18;
            text-align: center;
            font-size: $fs15;
            height: 50px;
            line-height: 50px;   
        }

        tr td {
            border: solid 1px $col85;
            border-collapse: collapse;
            font-weight: 400;
            background-color: $col18;
            color: $col29; 
            text-align: center;
            font-size: $fs15; 
            height: 70px; 
            line-height: 70px;  

            .btnTyp9.reject {

                &.color1 {
                    background: #F5FDFF !important;
                    border: 1px solid #5AAE81 !important; 
                    color: #5AAE81 !important; 
                }
                &.color2 {
                    background: #F5FDFF !important;
                    border: 1px solid #AB6BFD !important; 
                    color: #AB6BFD !important; 
                }
                &.color3 {
                    background: #F5FDFF !important;
                    border: 1px solid #C3A7FF !important; 
                    color: #C3A7FF !important;  
                }
                &.color4 {
                    background: #F5FDFF !important;
                    border: 1px solid #D26D6D !important; 
                    color: #D26D6D !important; 
                } 
            }
        }    
    }
}

.recordfound {
    position: absolute;
    left: 51%;
    top: 45%;
    font-size: 24px;
    color: #F44336;    
}
